# Git
.git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pyc

# poetry
poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VSCode
.vscode